body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #291e1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
